body{
	background-color: white;
  padding: 0;
  margin:0;
}
* {
  box-sizing: border-box;
}
div.clear{
  clear: both;
}
header{
	text-align: center;
}
header img{ 
	width: 30%; 
	margin: 0 auto;
 }
 div.about{
 	background-color: #3c52a8;
}
 div.dog{
 width: 50%;
 float: left;
 padding-top: 15px;
 padding-right: 15px;
 padding-bottom:15px;
 padding-left: 15px;
 }
 
   div.text-wrap{
 width: 50%;
 float: left;
padding: 25px;
  }
  .dog img {
    transform: rotate(180deg);
    width: 100%;
  }
  div.about h1{
  	color: white;
  	font-family: 'Playfair Display', serif;
  }
  div.about p{
  	color: white;
  	font-family: 'Playfair Display', serif;
  	font-size: 27px;
  }

  div.top {
      width: 100px;
      display: block;
      background: url(../img/2weenies.png) no-repeat center top; 
      border-top: #349ED3 85px solid;
      border-bottom: #349ED3 85px solid;
      padding: 150px 0 150px 30px;
      background-size: 50% auto;
      background-position: 100% 80%;
      background-repeat: no-repeat; 
      background-attachment: fixed;
    }

    div.top ul {
        color: #349ED3;
        font-family: 'Playfair Display', serif;
        font-size: 27px;
        }

    div.top h1 {
        color: #349ED3;
        font-family: 'Playfair Display', serif;
    }

    div.nicknames{
      float: left;
      width: 25%;
      margin: 0 2% 0 0;
      padding-top: 0;
    }

  div.char{
    float: left;
    width: 25%;
  }

  div.facts-for-Weenies{
    background: url(../img/pattern.png) repeat top left #83438C;
    padding: 100px;
    text-align: center;
  }

  div.facts-text{ 
  background-color: white;
  width:550px;
  height: 550px;
  border-radius: 50%;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 50px;
  font-family: 'Playfair Display', serif;
  color: #83438C;
  text-align: center;
  border-right: solid white 45px ;
   }

   .facts-text li {
    list-style-type: none;
    margin-bottom: 65px;
    font-family: 'Playfair Display', serif;
    color: #83438C;
    font-size: 17px;
   }

   h1{
    text-align: center;
   }
  
